@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0c1324;
  --background-alt: #131b2e;
  --foreground: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background-color: #050b15;
}

body {
  color: var(--foreground);
  background: linear-gradient(to bottom, #0c1324, #131b2e, #0c1324);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #050b15;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
